<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Chocotile">
    <title>CHOCOTILE</title>
  <link rel="stylesheet" href="/styles/css/error.css">
  <link rel="shortcut icon" href="/favicon.ico"  type="image/x-icon">
</head>
<body>
<div id="page-preloader"></div>

<div class="back-image"></div>

<div class="page">
    {{>header}}
    <main class="page_content">

        <div>
            <h1>Errors happens...</h1>
            <h2>{{message}}</h2>
            <h2>{{error.status}}</h2>
        </div>

    </main>

</div>
</body>
</html>


