<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="Nice Nail">
  <title>Nice Nail</title>
  <link rel="stylesheet" href="/styles/css/register.css">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
<div id="particles-js"></div>
<div id="page">
  <!-- for absolute position at center -->
  <main class="register rhomb_container">
    <!-- for relative position for rhomb-content -->
    <div class="rhomb_wrapper">
      <div class="rhomb">
        <div class="register_content rhomb_content">
          <form action="" class="input_form" id="formRegister">
            <div class="input_form_row"><a href="/" class="clearA" title="Вернуться на главную">NN</a></div>
            <div class="input_form_row">РЕГИСТРАЦИЯ</div>
            <div class="input_form_row"><input type="text" name="uName" placeholder="Имя" required></div>
            <div class="input_form_row"><input type="text" name="number" placeholder="Телефон" required></div>
            <div class="input_form_row"><input type="password" name="password" placeholder="Пароль" required></div>
            <div class="input_form_row">
              <div class="button_container">
                <!--<input type="submit" value="">-->
                <div class="arrow registerUser"></div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  </main>
</div>
<script src="scripts/jquery-3.2.1.min.js"></script>
<script src="scripts/particles.min.js"></script>
<script src="scripts/background.js"></script>

<script src="scripts/nice-alert.js"></script>
<script src="scripts/register.js"></script>
</body>
</html>